
/*Override for logo at navbar*/
.navbar-brand {
    height: auto;
    padding: 10px;
}

.navbar-brand>img {
    height: 35px;
}

/*Override for button at navbar*/
.navbar-btn {
    margin-top: 20px;
}

/*Override for button default*/
.btn-default {
	color: #eeeeee;
    background-color: #0040ff;
    border-color: transparent;
}

.btn-default:hover {
    color: #eeeeee;
    background-color: #003ae6;
    border-color: transparent;
}

.btn-default:active {
    color: #eeeeee;
    background-color: #4d79ff;
    border-color: transparent;
}

.btn-default:focus {
    color: #eeeeee;
    background-color: #4d79ff;
    border-color: transparent;
}

/*Override for button success*/

.btn-success {
    color: #eeeeee;
    background-color: #2eaf2e;
    border-color: transparent;
}

.btn-success:hover {
    color: #eeeeee;
    border-color: transparent;
}

/*Override for button info*/

.btn-info {
    color: #eeeeee;
    background-color: #33BBE2;
    border-color: transparent;
}

.btn-info:hover {
    color: #eeeeee;
    border-color: transparent;
}

/*Override for navbar margin bottom*/
.navbar {
	margin-bottom: 0px;
}

/*Master Head definition*/
/*Title page*/
.masthead {
	padding: 80px 0px;
	text-align: center;
}

/*Secondary pages*/
.secondary-head {
    padding: 80px 0px;
}

/*Secondary head name*/
.secondary-head .name {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 40px;
    color: #ffbf00;
}

/*Links in secondary head*/
.secondary-head a {
    color: #ffbf00;
}

/*Overrride bg-primary*/

.bg-primary {
	background-color: #8600b3;
}

.bg-secondary {
    background-color: #dddddd;
}

/*Margin Bottom Definition*/
.margin_bottom {
	margin-bottom: 15px;
}

/*Margin Top Definition*/
.margin_top {
    margin-top: 15px;
}

/*Titles*/

.title {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 85px;
}

.section-title h1 {
    text-align: left;
}

/*Important Navbar*/

.navbar-important {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 35px;
    color: #ffbf00;
}

/*Borders*/

.border_right {
    border-right: 1px solid #dddddd;
}

/*Avatar*/

.avatar-pic {
    width: 100%;
}

/*Icon button*/

.btn-icon {
    font-size: 45px;
}

/*Margin left*/

.ml {
    margin-left: 5px;
}

/*Padding all*/

.pall {
    padding: 10px;
}

/*Descriptive Paragraph*/

.dp {
    text-indent: 20px;
}